section{
	width:100%;
	height:100%;
	overflow: hidden;
	position:absolute;
	top:0;
}
 .music{
	top:2%;
	right:2%;
	width:0.25rem;
	height:0.25rem;
}
 .music  img{
	width:100%;
	height:100%;
	float:left;
}
.percent{
	font-size:0.3rem;
	color:#000;
	text-align:center;
	position:absolute;
	top:45%;
	left:47%;
	z-index:10000;
}
.p0 div img{
	display: block;	
	opacity: 0;
	position: absolute;
	width: calc(26vw);
	height:calc(26vw);
}
.p0-0{
	position: absolute;
}
.p0-1{
	width: calc(22.5vw);
	height:calc(28.5vw);
}
.p0-2{
	width: calc(28.6vw);
	height:calc(20vw);
}
.p0-3{
	width: calc(20vw);
	height:calc(28.6vw);
}
.p0-4{
	width: calc(28.6vw);
	height:calc(20vw);
}
.p0>div{
	height:calc(20vw);
}
.p0>div>img:nth-of-type(1){
	left:0;
	transform:translate(calc(-3vw),calc(-3vw));
}
.p0>div>img:nth-of-type(2){
	left:20%;
	transform:translate(calc(-3vw),calc(-3vw));
}
.p0>div>img:nth-of-type(3){
	left:40%;
	transform:translate(calc(-3vw),calc(-3vw));
}
.p0>div>img:nth-of-type(4){
	left:60%;
	transform:translate(calc(-3vw),calc(-3vw));
}
.p0>div>img:nth-of-type(5){
	left:80%;
	transform:translate(calc(-3vw),calc(-3vw));
}
.rotate90{
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); 	/* IE 9 */
	-moz-transform:rotate(90deg); 	/* Firefox */
	-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
	-o-transform:rotate(90deg); 	/* Opera */
}
.rotate-90{
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); 	/* IE 9 */
	-moz-transform:rotate(-90deg); 	/* Firefox */
	-webkit-transform:rotate(-90deg); /* Safari 和 Chrome */
	-o-transform:rotate(-90deg); 	/* Opera */
}
.rotate180{
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); 	/* IE 9 */
	-moz-transform:rotate(180deg); 	/* Firefox */
	-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
	-o-transform:rotate(180deg); 	/* Opera */
}
.p0 .p0-0{
	width:0.65rem;
	height:auto;
	margin:0.15rem 0.13rem;
	top:0;
}
/*p1*/

.p1-1{
	width:75%;
	margin:0.7rem 0.1rem 0;
	opacity:0;
	animation:opacity0-1 2s 0.7s forwards;
	-moz-animation:opacity0-1 2s 0.7s forwards; /* Firefox */
	-webkit-animation:opacity0-1 2s 0.7s forwards; /* Safari and Chrome */
	-o-animation:opacity0-1 2s 0.7s forwards; /* Opera */
}
.p1-2{
	width:75%;
	margin:10% 5%;
	opacity:0;
	animation:opacity0-1 2s 1.5s forwards;
	-moz-animation:opacity0-1 2s 1.5s forwards; /* Firefox */
	-webkit-animation:opacity0-1 2s 1.5s forwards; /* Safari and Chrome */
	-o-animation:opacity0-1 2s 1.5s forwards; /* Opera */
}
.p1-3{
	width:100%;
	bottom: 0;
	position:absolute;
	left:0;
}
.p1-4{
	display:block;
	width:80%;
	margin:10% auto 0;
	opacity:0;
	animation:opacity0-1 2s 2.5s forwards;
	-moz-animation:opacity0-1 2s 2.5s forwards; /* Firefox */
	-webkit-animation:opacity0-1 2s 2.5s forwards; /* Safari and Chrome */
	-o-animation:opacity0-1 2s 2.5s forwards; /* Opera */
}
.p1-5{
	position:absolute;
	display:block;
	width:50%;
	margin:5% 50% 0 20%;
	opacity:0;
	animation:lights 3s 3.5s infinite alternate;
	-moz-animation:lights 3s 3.5s infinite alternate; /* Firefox */
	-webkit-animation:lights 3s 3.5s infinite alternate; /* Safari and Chrome */
	-o-animation:lights 3s 3.5s infinite alternate; /* Opera */
}

/*p2*/
.p2-0{
    width: 94%;
    height: 75%;
    margin: 0.5rem 3% 0;
	opacity:0;
	animation:opacity0-1 2s 1s forwards;
	-moz-animation:opacity0-1 2s 1s forwards; /* Firefox */
	-webkit-animation:opacity0-1 2s 1s forwards; /* Safari and Chrome */
	-o-animation:opacity0-1 2s 1s forwards; /* Opera */
}
.p2-1{
	position:absolute;
	display:block;
	width:50%;
	bottom:0;
    left: 0.7rem;
    opacity:0;
	animation:lights 3s 2.5s infinite alternate;
	-moz-animation:lights 3s 2.5s infinite alternate; /* Firefox */
	-webkit-animation:lights 3s 2.5s infinite alternate; /* Safari and Chrome */
	-o-animation:lights 3s 2.5s infinite alternate; /* Opera */
}
.p2-2{
	position:absolute;
	width:70%;
	bottom:0.05rem;
	right:0;
}

/*p3*/
.p3-0{
	display:block;
	width:70%;
	margin:1rem auto 0.6rem;
	margin-left:100%;
	animation:showLeft 3s 1s infinite alternate;
	-moz-animation:showLeft 3s 1s infinite alternate; /* Firefox */
	-webkit-animation:showLeft 3s 1s infinite alternate; /* Safari and Chrome */
	-o-animation:showLeft 3s 1s infinite alternate; /* Opera */
}
.p3-1{
	display:block;
	width:3rem;
	height:3rem;
	position:absolute;
	top:2rem;
	left:50%;
	transform:translate(-50%);
	opacity:0;
	animation:opacity0-1 2s 2s forwards;
	-moz-animation:opacity0-1 2s 2s forwards; /* Firefox */
	-webkit-animation:opacity0-1 2s 2s forwards; /* Safari and Chrome */
	-o-animation:opacity0-1 2s 2s forwards; /* Opera */
}
.p3 span{
	display:block;
	width:1rem;
	height:1rem;
	float: left;

}
.p3 div{
	position:absolute;
	top:2rem;
	left:50%;
	width:3rem;
	transform:translate(-50%);
}
/*p4*/
.t0{
	width:100%;
	height:100%;
}
.p4-box{
	position:relative;
	top:22%;
	left:3%;
	width:94%;
	height:45%;
}
.p4 .start{
	position:absolute;
}
.p4 .mask{
	top:0;
	width:100%;
	height:100%;
	background: rgba(255,255,255,0.5);
}
.num{
	position:absolute;
	height:1rem;
	top:35%;
	left:50%;
	transform:translate(-50%);
}
.t1{
	width:38.5%;
	height:33.3%;
	top:0;
}
.t2{
	width:33.5%;
	height:38%;
	top:0;
	left:33.1%;
}
.t3{
	width: 38.5%;
    height: 33.3%;
    top: 0;
    left:61.5%;
}
.t4{
	width: 33.5%;
    height: 43%;
    top: 28.4%;
}
.t5{
	width: 43%;
    height: 33.5%;
    top: 33%;
    left: 28.5%;
}
.t6{
	width: 33.5%;
    height: 43%;
    top: 28.4%;
    left:66.5%;
}
.t7{
	width: 38.5%;
    height: 34%;
    top:66%;
}
.t8{
	width: 33%;
    height: 38.5%;
    top:61.5%;
    left: 33.5%;
}
.t9{
    width: 38.5%;
    height: 33.5%;
    top:66.5%;
    left:61.5%;
}
.t10{
	width:40%;
	bottom:9%;
	right:10%;
}

.p5-0{
	float:left;
	margin-left: 20px;
	width: 0.5rem;
    height: 0.5rem;
	border:1px solid #fff;
	border-radius:50%;
}
.p4 .info_box{
	overflow:hidden;
	top:10%;
	width:100%;
}
.p4 .projess{
	width:30%;
	height:0.08rem;
	background:#000;
	border:1px solid #ccc;
	margin:0.25rem 0 0 0.8rem;
}
.p4 .projess .remain{
	width:100%;
	height:0.08rem;
	background:#fff000;
}
.p4 .projess .time{
	display: block;
    font-size: 0.1rem;
    color: #ff0;
    left: 110%;
    top:-50%;
    width: 0.5rem;
}
.p4 .wx_name{
	display:block;
	float:left;
	font-size: 0.15rem;
	color:#fff;
	margin:0 0 0 0.1rem;
}
.p4 .fail{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.p5-1{
    width: 40%;
    display: block;
    bottom: 18%;
    left: 50%;
    transform: translate(-50%,0);
    position: absolute;
}
.fail .p5-2{
    position: absolute;
    width: 50%;
    display: block;
    margin: 0 0 0 22%;
    bottom: 0;
}
.p4 .success{
    position: absolute;
    width: 90%;
    bottom: 17%;
    left: 50%;
    transform: translate(-50%,0);
}
.t11{
	display:block;
	width:70%;
	margin:0 auto;
}
.success .p5-2{
	position:absolute;
	width:45%;
	display:block;
	top:75%;
}
.success .p5-3{
	position:absolute;
	width:45%;
	display:block;
	top:80%;
	right:10%;
}

.p5-4{
	display:block;
	width:100%;
	height:100%;
}
.p6-0{
	width:100%;
	height:100%;
}
.p7-1{
	width:80%;
	display:block;
	margin:18% auto 15%;
}
.p7-2{
	width:60%;
	display:block;
	margin:0 auto;
}
.money{
	width:2.5rem;
	margin:15% auto;
}
.p7-6{
	top: 50%;
    left: 50%;
    transform: translate(-50%,-49%);
    width: 2.5rem;
}

.money_num{
	border:none;
	width:100%;
	height:8%;
	text-align: center;
	top:2.05rem;
	left:50%;
	font-size:0.3rem;
	transform:translate(-50%);
}
.money_num span{
	font-size:0.15rem;
}

/*p8*/
.p8-1{
	width:70%;
	display:block;
	margin:16% auto 0;
}
.pj{
    position: absolute;
    width: 36%;
    display: block;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,0);}
.p8-2{
    width: 66%;
    display: block;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%,0);
}
/*p9*/
.p9-1{
	display:block;
	width:45%;
	position:absolute;
	bottom:50%;
	left:50%;
	transform:translate(-50%,0);
}
.p9-2{
	display:block;
	width:60%;
	position:absolute;
	bottom:5%;
	left:50%;
	transform:translate(-50%,0);
}
@keyframes opacity0-1
{
from {opacity:0;}
to {opacity:1;}
}
@-moz-keyframes opacity0-1 /* Firefox */
{
from {opacity:0;}
to {opacity:1;}
}

@-webkit-keyframes opacity0-1 /* Safari 和 Chrome */
{
from {opacity:0;}
to {opacity:1;}
}

@-o-keyframes opacity0-1 /* Opera */
{
from {opacity:0;}
to {opacity:1;}
}


@keyframes lights
{
	0%{opacity:1;transform:scale(1.15,1.15);}
	50%{opacity:0.6;transform:scale(1.0,1.0);}
	100%{opacity:1;transform:scale(1.15,1.15);}
}
@-moz-keyframes lights /* Firefox */
{
	0%{opacity:1;transform:scale(1.15,1.15);}
	50%{opacity:0.6;transform:scale(1.0,1.0);}
	100%{opacity:1;transform:scale(1.15,1.15);}
}

@-webkit-keyframes lights /* Safari 和 Chrome */
{
	0%{opacity:1;transform:scale(1.15,1.15);}
	50%{opacity:0.6;transform:scale(1.0,1.0);}
	100%{opacity:1;transform:scale(1.15,1.15);}
}

@-o-keyframes lights /* Opera */
{
	0%{opacity:1;transform:scale(1.15,1.15);}
	50%{opacity:0.6;transform:scale(1.0,1.0);}
	100%{opacity:1;transform:scale(1.15,1.15);}
}

@keyframes showLeft
{
	from{margin-left:20%;}
	to{margin-left:5%;}
}
@-moz-keyframes showLeft /* Firefox */
{
	from{margin-left:20%;}
	to{margin-left:5%;}
}

@-webkit-keyframes showLeft /* Safari 和 Chrome */
{
	from{margin-left:20%;}
	to{margin-left:5%;}
}

@-o-keyframes showLeft /* Opera */
{
	from{margin-left:20%;}
	to{margin-left:5%;}
}